body {
  height: 100vh;
}

h1 {
  /* color: #f06d06; */
  color: white;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Calps', sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  /* font-weight: 900 */
}

.display-4 {
  font-size: 72px;
}

h3 {
  color: white;
  font-family: 'Bushcraft', sans-serif;
  font-size: 30px;
}

.jumbotron {
  background-color: #ff3e3d;
  border: 0px solid #f06d06;
  
  border-radius: 20px;
}

#btn {
  background-color: white;
  color: black;
  border: none;
}

.jumboDark {
  background-color: #f06d06 !important;
  color: white;
  background: none;
}

.jumboDark ul li {
  color: #2c3e50;
}

.edit, .delete {
  font-size: .8rem;

}

.edit:hover, .delete:hover {
  color: red;
}

.delete {
  margin-right: 10px;
}

.list-item {
  font-family: 'Calps';
  font-size: 1.5rem;
  align-self: flex-start
}

.list-group-item {
  /* align-items: center;
  justify-content: center; */
  display: flex
}
.controls {
  justify-self: flex-end
}